Source: limereg
Section: libdevel
Priority: optional
Maintainer: Roelof Berg <rberg@berg-solutions.de>
Build-Depends: debhelper (>= 9), libcv-dev, libhighgui-dev, libopencv-dev, libboost-dev, libboost-program-options-dev, doxygen, help2man
Standards-Version: 3.9.5
Homepage: http://embedded-software-architecture.com/limereg.html

Package: limereg
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight Image Registration
 Commandline application for image registration.
 Automatically aligns two images with similar content to each other.

Package: liblimereg-dev
Section: libdevel
Architecture: any
Depends: liblimereg1 (= ${binary:Version}), ${misc:Depends}
Description: Library for lightweight image registration [development files]
 Liblimereg automatically aligns two images with similar content to each other.
 Given two 2D images the algorithm returns the rigid transformation
 parameters detected for the best possible alignment (shift, rotation). There
 are also functions for a rigid image transformation (shift, rotation) and
 for creating a difference image out of two images. 
 .
 This package contains the header file.

Package: liblimereg1
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for lightweight image registration
 Liblimereg automatically aligns two images with similar content to each other.
 Given two 2D images the algorithm returns the rigid transformation
 parameters detected for the best possible alignment (shift, rotation). There
 are also functions for a rigid image transformation (shift, rotation) and
 for creating a difference image out of two images. 
 .
 This package contains the runtime shared library.
