Source: liblimereg
Section: contrib/graphics
Priority: optional
Maintainer: Roelof Berg <rberg@berg-solutions.de>
Build-Depends: debhelper (>= 9), doxygen
Standards-Version: 3.9.5
Homepage: https://github.com/RoelofBerg/limereg

Package: liblimereg0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for lightweight image registration
 Shared object library for application developers that need image registration.
 It automatically aligns two images with similar content to each other.

